@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:ital,wght@0,600;1,700&family=Poppins:wght@300;400;500;700&display=swap');


:root {
    --cor-principal: #efefef;
    --cor-secundaria: #6B6FDE;
    --cor-preta: #000000;
    --fonte-principal: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-principal);
}

.tabela {
    text-align: center;
}


.pai__tit {
    display: flex;
    justify-content: center;
    padding: 2.5em 0 1.5em 0;
}

.tit__principal {
    font-size: 48px;
    font-weight: 500;
}

.bts{
    margin: 0 1em;
}

.pai__botoes {
    display: flex;
    justify-content: center;
    gap: 7em;
    padding: 2.5em 0 0 0;

}


.btns {
    
    width: 150px;
    padding: 5px;
}

.aviso__produto {
    padding: 1.5em 0 0 0;
    text-align: center;
}