{% extends 'bases/base_logado.html' %}

{% block title %} Caixa {% endblock %}

{% block customCSS %} 

{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul id="messages" class="list-unstyled">
            {% for message in messages %}
                <li class="alert alert-success">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
{% endwith %}
<div class="container__caixa">
    <h2 class="tit__caixa">CAIXA</h2>
</div>

<form method="post" action="{{ url_for('caixa') }}">
    <div class="container__digit__produt">
        <div class="form-group formu col-4">
            <label for="">Digite o código do produto:</label>
            <input type="text" name="codigo" placeholder="Digite o código do produto" required class="form-control">
        </div>
    </div>
    <div class="container__digit__produt">
        <div class="form-group formu col-4">
            <label for="">Digite a quantidade vendida:</label>
            <input type="number" name="qtdVendida" placeholder="Digite a quantidade do produto" required class="form-control">
            <br>
            
        </div>
    </div>
    <div class="container__digit__produt">
        <div class="form-group formu col-4">
            <label for="">Encerra a venda?:</label>
            <input type="text" name="resposta" placeholder="Posso encerrar a venda?" required class="form-control">
        </div>
    </div>
    <input type="submit" value="Adicionar">
</form>
    {% if nova_quantidade %}
        <p>Nova Quantidade no Estoque: {{ nova_quantidade }}</p>
        <p>E o valor da compra foi de R${{ valorTotal }} Reais</p>
    {% endif %}
{% endblock %}