{% extends 'bases/base.html' %}

{% block title %} Edição de Usuário {% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_novo_usuario_e_produto.css')}}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-6 mx-auto">
        <div class="container__pai__logo">
            <img class="logo" src="{{ url_for('static', filename='img/editar.png')}}" id="logo" alt="">
        </div>
        <div class="container__pai__titulo">
            <h3 class="titulo__pag">Edição do Produto: {{ produto.nome }}</h3>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul id="messages" class="list-unstyled">
            {% for message in messages %}
                <li class="alert alert-success">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
            <form class="flex-lg-row mx-auto col-6" method="post" action="{{url_for('atualizar_produto', id=produto.id)}}">
                <input type="hidden" name="id" value="{{produto.id}}">
                <div class="form-group">
                    <label for="">Nome do Produto:</label>
                    <input type="text" name="nome" id="nome" required class="form-control" value="{{produto.nome}}">
                </div>
                <div class="form-group">
                    <label for="">Categoria do Produto:</label>
                    <input type="text" name="categoria" id="categoria" required class="form-control" value="{{produto.categoria}}">
                </div>
                <div class="form-group">
                    <label for="">Preço do Produto:</label>
                    <input type="number" name="preco" id="preco" required class="form-control" value="{{produto.preco}}">
                </div>
                <div class="form-group">
                    <label for="">Quantidade do Produto:</label>
                    <input type="number" name="quantidade" id="quantidade" required class="form-control" value="{{produto.quantidade}}">
                </div>
                <div class="form-group">
                    <label for="">Descrição do Produto:</label>
                    <input type="text" name="descricao" id="descricao" required class="form-control" value="{{produto.descricao}}">
                </div>
                <br>
                <div class="pai__botoes d-flex justify-content-around">
                    <button type="submit" class="btn bg-info btns my-2 my-sm-0">Salvar</button>
                    <a class="btns my-2 my-sm-0" href="{{url_for('produtos', id=produto.id)}}">Voltar</a>
                </div>
            </form>
    </div>
</div>
{% endblock %}