{% extends 'bases/base.html' %}

{% block title %} Edição de Usuário {% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_novo_usuario_e_produto.css')}}">
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-6 mx-auto">
        <div class="container__pai__logo">
            <img class="logo" src="{{ url_for('static', filename='img/editar.png')}}" id="logo" alt="">
        </div>
        <div class="container__pai__titulo">
            <h3 class="titulo__pag">Edição do Usuário: {{ usuario.nome }}</h3>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul id="messages" class="list-unstyled">
            {% for message in messages %}
                <li class="alert alert-success">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
            <form class="flex-lg-row mx-auto col-6" method="post" action="{{url_for('editar_user', id=usuario.id)}}">
                <input type="hidden" name="id" value="{{usuario.id}}">
                <div class="form-group">
                    <label for="">Nome do Usuário:</label>
                    <input type="text" name="nome" id="nome" required class="form-control" value="{{usuario.nome}}">
                </div>
                <div class="form-group">
                    <label for="">E-mail do Usuário:</label>
                    <input type="email" name="email" id="email" required class="form-control" value="{{usuario.email}}">
                </div>
                <div class="form-group">
                    <label for="">Endereço do Usuário:</label>
                    <input type="text" name="endereco" id="endereco" required class="form-control" value="{{usuario.endereco}}">
                </div>
                <div class="form-group">
                    <label for="">Número da casa:</label>
                    <input type="number" name="numcasa" id="numcasa" required class="form-control" value="{{usuario.numcasa}}">
                </div>
                <div class="form-group">
                    <label for="">Bairro onde Mora:</label>
                    <input type="text" name="bairro" id="bairro" required class="form-control" value="{{usuario.bairro}}">
                </div>
              
                <div class="form-group">
                    <label for="">Nova Senha:</label>
                    <input type="text" name="senha" id="senha" required class="form-control" placeholder="Digite a nova senha">
                </div>
                <br>
                <div class="pai__botoes d-flex justify-content-around">
                    <button type="submit" class="btn btns bg-info btns my-2 my-sm-0 ">Salvar</button>
                    <a class="btns my-2 my-sm-0" href="{{url_for('dados_usuario', id=usuario.id)}}">Voltar</a>
                </div>
            </form>
    </div>
</div>
{% endblock %}