{% extends 'bases/base.html' %}

{% block title %} Cadastro de Novo Produto {% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_novo_usuario_e_produto.css')}}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col- mx-auto col-6">
        <div class="container__pai__logo">
            <img class="logo " src="{{ url_for('static', filename='img/produto.png')}}" id="logo" alt="">
        </div>
        <div class="container__pai__titulo">
            <h3 class="titulo__pag">Cadastro de Produto</h3>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul id="messages" class="list-unstyled">
            {% for message in messages %}
                <li class="alert alert-success">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
            <form class="flex-lg-row mx-auto col-6" method="post" action="{{url_for('cadastro_produto')}}" enctype="multipart/form-data">

                <div class="form-group formu">
                    <label for="">Nome:</label>
                    <input type="text" name="nome" placeholder="Digite o nome do produto" required class="form-control">
                </div>
                <div class="form-group formu">
                    <label for="">Categoria:</label>
                    <input type="text" name="categoria" placeholder="Digite a categoria" required class="form-control">
                </div>
                <div class="form-group formu">
                    <label for="">Preço:</label>
                    <input type="number" name="preco" placeholder="Quanto custa esse produto?" required class="form-control">
                </div>
                <div class="form-group formu">
                    <label for="">Código do Produto:</label>
                    <input type="number" name="codigo" placeholder="Digite o código do produto" required class="form-control">
                </div>
                <div class="form-group formu">
                    <label for="">Quantidade:</label>
                    <input type="number" name="quantidade" placeholder="Quantidade desse produto?" required class="form-control">
                </div>
                <div class="form-group formu">
                    <label for="">Descricao:</label>
                    <input type="text" name="descricao" placeholder="Descreva sobre o produto" required class="form-control">
                </div>
                
                <br>
                <div class="pai__botoes d-flex justify-content-around">
                    <button type="submit" class="btn bg-info btns my-2 my-sm-0  btns">Cadastrar</button>
                    <a class="btns my-2 my-sm-0" href="{{ url_for('menu', id=current_user.id) }}">Voltar</a>
                </div>
            </form>
    </div>
</div>
{% endblock %}