{% extends 'bases/base_logado.html' %}

{% block title %} Meus dados Cadastrais {% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_lista.css')}}">
{% endblock %}

{% block content %}


    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul id="messages" class="list-unstyled">
            {% for message in messages %}
                <li class="alert alert-success">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="container">
        
    
        <div class="page-header pai__tit">
            <h1 class="tit__principal">Dados do usuário {{usuario.nome}}</h1>
        </div>
        <table class="table table-dark table-striped table-responsive table-bordered tabela ">
            <thead class="thead-default">
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Endereço</th>
                    <th>N° Casa</th>
                    <th>Bairro</th>
                    <th>Senha</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>{{usuario.nome}}</td>
                        <td>{{usuario.email}}</td>
                        <td>{{usuario.endereco}}</td>
                        <td>{{usuario.numcasa}}</td>
                        <td>{{usuario.bairro}}</td>
                        <td>{{usuario.senha}}</td>
                    </tr>
            </tbody>
        </table>  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content text-black">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Aviso!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Tem certeza que deseja excluir sua conta?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary bg-info" data-bs-dismiss="modal">Cancelar</button>
           <a class="btn btn-danger" href="{{ url_for('deletar_usuario', id=usuario.id) }}">Confirmar</a>
        </div>
      </div>
    </div>
  </div>      
        <div class="pai__botoes">
            <button type="button" class="btns btn btn-danger text-white border border-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Excluir Conta
              </button>
        </div>
    </div>
    <script>
          
    </script>
    
{% endblock %}